<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        {{ data | safe }}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Location</th>
                    <th scope="col">Popularity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{% row_num %}</th>
                    <td>{{ location_name }}</td>
                    <td>{{ num_searches }}</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
