
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Yelp@Me</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/main.css">
    </head>
    <body>
        <center>
            <h3>{{ location }}</h3>
        </center>
        <div class="container-fluid food_section">
            {% for item in top_six[:3] %}
            <div class="image_logo">
                <a href="{{ item.url }}" class="social-link" target="_blank">
                    <img src="{{item.image_url}}" alt="{{ item.name }}" class="item_img"/>
                    <h3 class="item_link">{{ item.name }}</h3>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="container-fluid food_section">
            {% for item in top_six[3:] %}
            <div class="image_logo">
                <a href="{{ item.url }}" class="social-link" target="_blank">
                    <img src="{{item.image_url}}" alt="{{ item.name }}" class="item_img"/>
                    <h3 class="item_link">{{ item.name }}</h3>
                </a>
            </div>
            {% endfor %}
        </div>
        <center>
            <h3>Analytics</h3>
            <div class="container-fluid">
                {{ data | safe }}
            </div>
        </center>
    </body>
</html>
