<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="" method="GET">
      <input type="text" name="address" value="" placeholder="address">
      <input type="text" name="city" value="" placeholder="city">
      <input type="text" name="state" value="" placeholder="state">
      <input type="text" name="zip" value="" placeholder="zip">
      <input type="submit" name="" value="Find a Restaurant">
    </form>
  </body>
</html>
