<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Yelp@Me</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <center>
        <div class="container">
            <div class="">
                <h1 class="display-1 head">Yelp@Me</h1>
                <h3 class="display-5">Search@Me</h3>
                <form method="POST" class="">
                    <div class="form-group">
                        <input type="text" class="form-control" name="address" value="" placeholder="address">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="city" value="" placeholder="city">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="state" value="" placeholder="state" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="zip" value="" placeholder="zip">
                    </div>
                    <input type="submit" class="btn btn-primary" name="" value="Find a Restaurant">
                </form>
            </div>
            <div class="container-fluid">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Location</th>
                            <th scope="col">Searches</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for location in top_places %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td><a href="{{url_for('get_popular', location=location[0])}}">{{ location[0] }}</a></td>
                            <td>{{ location[1] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </center>
    </body>
    </html>
